Agilan_flows.json
[{"id":"d86728ac.eb01b8","type":"tab","label":"Custom Flows","disabled":false,"info":""},{"id":"ca145a96.0176d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a93bfb59.b000f8","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f424c271.73282","type":"websocket-listener","z":"","path":"/ws/test/","wholemsg":"false"},{"id":"c8635a42.8ee","type":"template","z":"d86728ac.eb01b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":430,"y":100,"wires":[["8903b9ad.53ed"]]},{"id":"7108affb.2d07e8","type":"http in","z":"d86728ac.eb01b8","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":260,"y":100,"wires":[["c8635a42.8ee"]]},{"id":"8903b9ad.53ed","type":"http response","z":"d86728ac.eb01b8","name":"","x":570,"y":100,"wires":[]},{"id":"4cf1c6c7.5b59a8","type":"http response","z":"d86728ac.eb01b8","name":"","x":630,"y":200,"wires":[]},{"id":"1da36f2b.1f64c1","type":"template","z":"d86728ac.eb01b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>","output":"str","x":490,"y":200,"wires":[["4cf1c6c7.5b59a8"]]},{"id":"acbdd601.c792c","type":"http in","z":"d86728ac.eb01b8","name":"","url":"/hello-param/:name","method":"get","swaggerDoc":"","x":290,"y":200,"wires":[["1da36f2b.1f64c1"]]},{"id":"8a3a1d8f.65a8c","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":260,"y":300,"wires":[["e66e7bfd.bb9b58"]]},{"id":"e66e7bfd.bb9b58","type":"change","z":"d86728ac.eb01b8","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[[]]},{"id":"9f2a2c32.677fa","type":"http in","z":"d86728ac.eb01b8","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":240,"y":400,"wires":[["b2000c54.17aa98"]]},{"id":"b2000c54.17aa98","type":"change","z":"d86728ac.eb01b8","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["4aae4f4f.9df1e"]]},{"id":"4aae4f4f.9df1e","type":"template","z":"d86728ac.eb01b8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":590,"y":400,"wires":[["ca6b3b9c.bb3a08"]]},{"id":"ca6b3b9c.bb3a08","type":"http response","z":"d86728ac.eb01b8","name":"","x":730,"y":400,"wires":[]},{"id":"457f8ae7.c383e4","type":"http in","z":"d86728ac.eb01b8","name":"","url":"/hello-file","method":"get","swaggerDoc":"","x":230,"y":520,"wires":[["7a3d46d6.8df43"]]},{"id":"7a3d46d6.8df43","type":"file in","z":"d86728ac.eb01b8","name":"","filename":"/tmp/node-red.png","format":"","sendError":true,"x":410,"y":520,"wires":[["37b9ab75.d4381c"]]},{"id":"37b9ab75.d4381c","type":"change","z":"d86728ac.eb01b8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":520,"wires":[["c634d7b3.b36c5"]]},{"id":"c634d7b3.b36c5","type":"http response","z":"d86728ac.eb01b8","name":"","x":730,"y":520,"wires":[]},{"id":"64ac8e4c.3d78b","type":"catch","z":"d86728ac.eb01b8","name":"","scope":null,"x":1060,"y":120,"wires":[[]]},{"id":"709049c3.7353e8","type":"status","z":"d86728ac.eb01b8","name":"","scope":null,"x":1060,"y":220,"wires":[[]]},{"id":"ad28e025.05a5f","type":"websocket in","z":"d86728ac.eb01b8","name":"","server":"f424c271.73282","client":"","x":230,"y":640,"wires":[["ff722495.4a66d8"]]},{"id":"ff722495.4a66d8","type":"websocket out","z":"d86728ac.eb01b8","name":"","server":"f424c271.73282","client":"","x":420,"y":640,"wires":[]},{"id":"a8017710.1593c8","type":"trigger","z":"d86728ac.eb01b8","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":1080,"y":320,"wires":[[]]},{"id":"6e631d7e.a96e14","type":"admin-hash-password","z":"d86728ac.eb01b8","name":"Hash password","x":420,"y":740,"wires":[["6192dae8.0ede74"]]},{"id":"7c49f63f.b8ae48","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"admin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":740,"wires":[["6e631d7e.a96e14"]]},{"id":"6192dae8.0ede74","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":740,"wires":[]},{"id":"1MFddMRkKIU9GFBkbH1jInvKsjV4NQ1_S29J9_8kC2c0","type":"read-google-sheets","z":"d86728ac.eb01b8","name":"","x":1060,"y":700,"wires":[["d2036f0d.cbb7a"]]},{"id":"be185052.f77c5","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":600,"wires":[["1MFddMRkKIU9GFBkbH1jInvKsjV4NQ1_S29J9_8kC2c0"]]},{"id":"d2036f0d.cbb7a","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1180,"y":860,"wires":[]},{"id":"291bbeee.71fe42","type":"google-translate","z":"d86728ac.eb01b8","name":"","to":"hi","x":400,"y":1060,"wires":[["3561b2c.5c1544e"]]},{"id":"bfe25b23.72c708","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1060,"wires":[["291bbeee.71fe42"]]},{"id":"3561b2c.5c1544e","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1060,"wires":[]}]