Agilan_flows.json
[{"id":"d86728ac.eb01b8","type":"tab","label":"Custom Flows","disabled":false,"info":""},{"id":"ca145a96.0176d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a93bfb59.b000f8","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f424c271.73282","type":"websocket-listener","z":"","path":"/ws/test/","wholemsg":"false"},{"id":"64ac8e4c.3d78b","type":"catch","z":"d86728ac.eb01b8","name":"","scope":null,"x":200,"y":560,"wires":[["ddfdeafb.80e878"]]},{"id":"6e631d7e.a96e14","type":"admin-hash-password","z":"d86728ac.eb01b8","name":"Hash password","x":400,"y":200,"wires":[["6192dae8.0ede74"]]},{"id":"7c49f63f.b8ae48","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"admin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[["6e631d7e.a96e14"]]},{"id":"6192dae8.0ede74","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":200,"wires":[]},{"id":"1MFddMRkKIU9GFBkbH1jInvKsjV4NQ1_S29J9_8kC2c0","type":"read-google-sheets","z":"d86728ac.eb01b8","name":"","x":420,"y":300,"wires":[["d2036f0d.cbb7a"]]},{"id":"be185052.f77c5","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["1MFddMRkKIU9GFBkbH1jInvKsjV4NQ1_S29J9_8kC2c0"]]},{"id":"d2036f0d.cbb7a","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":300,"wires":[]},{"id":"291bbeee.71fe42","type":"google-translate","z":"d86728ac.eb01b8","name":"","to":"hi","x":400,"y":1060,"wires":[["3561b2c.5c1544e"]]},{"id":"bfe25b23.72c708","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1060,"wires":[["291bbeee.71fe42"]]},{"id":"3561b2c.5c1544e","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1060,"wires":[]},{"id":"ddfdeafb.80e878","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":560,"wires":[]},{"id":"f04071d1.08262","type":"lower-case","z":"d86728ac.eb01b8","name":"","x":410,"y":420,"wires":[["b99c7e1b.25be"]]},{"id":"44b3f8e3.1fbb08","type":"inject","z":"d86728ac.eb01b8","name":"","topic":"","payload":"HELLO world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["f04071d1.08262"]]},{"id":"b99c7e1b.25be","type":"debug","z":"d86728ac.eb01b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":420,"wires":[]}]