Agilan_flows.json
[{"id":"6d3792d.b05546c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca145a96.0176d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8f12be5.b3c464","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"7fe6ee36.2f1f5","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bba440c1.a9673","type":"ui_group","z":"","name":"Start Time","tab":"f6b3b8da.716ee8","order":1,"disp":true,"width":"6"},{"id":"bd499291.20f7f","type":"ui_group","z":"","name":"Preset Start Times","tab":"f6b3b8da.716ee8","order":2,"disp":true,"width":"6"},{"id":"1751c424.60d88c","type":"ui_group","z":"","name":"Zone Status","tab":"f6b3b8da.716ee8","order":3,"disp":true,"width":"6"},{"id":"8cd6204e.0f71c","type":"ui_group","z":"","name":"Manual","tab":"f6b3b8da.716ee8","order":4,"disp":true,"width":"6"},{"id":"f6b3b8da.716ee8","type":"ui_tab","z":"","name":"Irrigation","icon":"call_split","order":2},{"id":"5ac80b9c.ed9964","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":100,"wires":[]},{"id":"9550eff3.2b93","type":"inject","z":"6d3792d.b05546c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["5d4838f4.948f58"]]},{"id":"5f0b1e35.78fce","type":"switch","z":"6d3792d.b05546c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":510,"y":300,"wires":[["5ac80b9c.ed9964"],["f5d852d3.793bd"],["7d0d01ed.88c37"],["536147b8.1540a8"],["98391f6d.1263"],["db5f5420.337388"],["ffef9579.140fc8"]]},{"id":"f5d852d3.793bd","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":160,"wires":[]},{"id":"7d0d01ed.88c37","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"536147b8.1540a8","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":280,"wires":[]},{"id":"98391f6d.1263","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":340,"wires":[]},{"id":"db5f5420.337388","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"ffef9579.140fc8","type":"debug","z":"6d3792d.b05546c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":460,"wires":[]},{"id":"5d4838f4.948f58","type":"function","z":"6d3792d.b05546c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["5f0b1e35.78fce"]]}]